<!-- Main content -->

<!--Cart-->
<section>
    <div class="container">
        <!--Cart button-->
        <button class="btn btn-primary" type="button">
            No of item in cart <span class="badge">4</span>
        </button>

    </div>

    <!--<app-cart></app-cart>-->


    <div class="container">

        <!-- Table to display items-->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <i class="fa fa-plus-square-o setBlue" aria-hidden="true"></i>
                    <input class="cart-input" name="qty" type="text" maxlength="3" pattern="[0-9]{1,3}" title="Integers only">
                    <i class="fa fa-minus-square-o setBlue" aria-hidden="true"></i>
                </td>
                <td>
                    <i class="fa fa-times-circle closeIcon" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>
                    <i class="fa fa-plus-square-o setBlue" aria-hidden="true"></i>
                    <input class="cart-input" name="qty" type="text" maxlength="3" pattern="[0-9]{1,3}" title="Integers only">
                    <i class="fa fa-minus-square-o setBlue" aria-hidden="true"></i>
                </td>
                <td>
                    <i class="fa fa-times-circle closeIcon" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>
                    <i class="fa fa-plus-square-o setBlue" aria-hidden="true"></i>
                    <input class="cart-input" name="qty" type="text" maxlength="3" pattern="[0-9]{1,3}" title="Integers only">
                    <i class="fa fa-minus-square-o setBlue" aria-hidden="true"></i>
                </td>
                <td>
                    <i class="fa fa-times-circle closeIcon" aria-hidden="true"></i>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</section>


<hr>
<hr>
<hr>
<section class="content">
    <div class="container">

        <!--Header-->
        <div class="page-header">
            <h4>ITEM LIST<small></small></h4>
        </div>
        <br>

        <!-- Table to display items-->
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-cart-arrow-down setGreen" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-cart-arrow-down setGreen" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-cart-arrow-down setGreen" aria-hidden="true"></i>
                </td>

            </tr>

            </tbody>
        </table>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->