<!-- Main content -->

<!--Cart-->
<section>
    <div class="container">
        <!--Cart button-->
        <h4>Cart&nbsp;&nbsp;<span class="badge bg-primary"><span id="cartNoOfItems"></span>&nbsp;<i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></h4>
    </div>

    <!--<app-cart></app-cart>-->


    <div class="container">

        <!-- Cart-->
        <table id="simpleCart" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Description</th>
                <th scope="col">Order Qty</th>
                <th scope="col">Total Price</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <td colspan = "9">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <h6>Total Amount (LKR)</h6>
                                <h6 id="cartTotal">0.00</h6></div>
                            <div class="col-4"></div>
                            <div class="col-4">
                                <button type="button" id="btnPlaceOrder" class="btn btn-success" style="float: right" disabled="disabled">Place Order</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>


    </div>
</section>
<!--Cart-->


<hr>
<hr>
<hr>

<section class="content">
    <div class="container">

        <!--Header-->
        <div class="page-header">
            <h4>ITEM LIST<small></small></h4>
        </div>
        <br>

        <!-- Table to display items-->
        <table id="itemList" class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
