<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-10">
        <ul id="mainSideBar" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" id="dashboardNavItem" class="nav-link active" data-index="1">
                    <i class="nav-icon fas fa-th"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-index="2">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Manage Customer</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-index="3">
                    <i class="nav-icon fas fa-cart-plus"></i>
                    <p>Manage Item</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-index="4">
                    <i class="nav-icon fas fa-cart-arrow-down"></i>
                    <p>Place Order</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-index="5">
                    <i class="nav-icon fas fa-search"></i>
                    <p>Search Order</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->