<!-- Main content -->
<!--Search box-->
<!--<section>
    <div class="container">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>

</section>-->
<!--./Search box-->

<br>

<section class="content">
    <div class="container">

        <!--Header-->
        <div class="page-header">
            <h4>ORDER LIST<small></small></h4>
        </div>
        <!--./Header-->
        <br>

        <!-- Table to display items-->
        <table id="orderList" class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-cart-arrow-down setGreen" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-cart-arrow-down setGreen" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-cart-arrow-down setGreen" aria-hidden="true"></i>
                </td>

            </tr>

            </tbody>
        </table>
        <!-- ./Table to display items-->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->