<!-- Main content -->
<!--Search box-->
<!--<section>
    <div class="container">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>

</section>-->
<!--./Search box-->

<br>

<section class="content">
    <div class="container">

        <!--Header-->
            <h4>Order List</h4>
        <!--./Header-->
        <br>

        <!-- Table to display items-->
        <table id="orderList" class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Items</th>
                <th scope="col">Total</th>
                <th scope="col">Ordered Date</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- ./Table to display items-->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
