<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-content-header></app-content-header>
    <!-- /.content-header -->

    <section id="dynamic-main-content">
        <!-- Main content -->
        <app-dashboard></app-dashboard>

        <app-manage-customer></app-manage-customer>
        <app-customer-form></app-customer-form>

        <app-manage-item></app-manage-item>
        <app-item-form></app-item-form>

        <app-place-order></app-place-order>

        <app-search-order></app-search-order>
        <!-- /.content -->

    </section>
</div>