<!-- Main content -->
<section class="content">
    <div class="container">
        <!-- Table to display items-->
        <table id="tbl-items" class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Qty (Stock)</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-trash trashHover" aria-hidden="true"></i>
                    <i class="fa fa-pencil-square-o editHover" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <th scope="row"><img class="item-image" src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-trash trashHover" aria-hidden="true"></i>
                    <i class="fa fa-pencil-square-o editHover" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <th scope="row"><img class="item-image"  src="/src/asset/avatar1.jpg" alt=""></th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>077123456</td>
                <td>
                    <i class="fa fa-trash trashHover" aria-hidden="true" title="Delete record"></i>
                    <i class="fa fa-pencil-square-o editHover" aria-hidden="true" title="Edit record"></i>
                </td>

            </tr>

            </tbody>
        </table>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->